/*:root {  
	--tablereact-main-background-color: white;
	--tablereact-selected-color:  white;
	--tablereact-selected-background-color: blue;
	--tablereact-columns-separator-color:  white;
	--tablereact-selected-background-hover-color: #0063ff;

    --tablereact-scrollbar-width: 16px;
    --tablereact-scrollbar-border-width: 1px;
    --tablereact-scrollbar-background-color: azure;
    --tablereact-scrollbar-border-color: gray;
    --tablereact-scrollbar-grip-color: rgb(209, 209, 209);
    --tablereact-scrollbar-grip-hover-color: #bbb;
    --tablereact-scrollbar-grip-active-color: #999;
	--tablereact-scrollbar-grip-width: 100%; 
    --tablereact-scrollbar-button-color: #666;
    --tablereact-scrollbar-button-hover-color: #555;
    --tablereact-scrollbar-button-active-color: #444;
    --tablereact-scrollbar-button-background-color: white;
    --tablereact-scrollbar-button-hover-background-color: rgb(209, 209, 209);
    --tablereact-scrollbar-button-active-background-color: #aaa;
}*/
:root { 
	--tablereact-main-background-color: #fcfcfc;
    --tablereact-table-selected-background-color: #e95420;
	--tablereact-selected-background-color: #eff0f1;
	--tablereact-columns-separator-color:  #737373;
	--tablereact-selected-background-hover-color: #e2e2e2;

    --tablereact-scrollbar-width: 12px;
    --tablereact-scrollbar-border-width: 0px;
    --tablereact-scrollbar-background-color: transparent;
	--tablereact-scrollbar-background-hover-color: rgb(192, 192, 192);
	--tablereact-scrollbar-grip-radius: 999px;
    --tablereact-scrollbar-grip-color: gray;    
    --tablereact-scrollbar-grip-hover-color: gray;    
    --tablereact-scrollbar-grip-active-color: var(--tablereact-table-selected-background-color);    
	--tablereact-scrollbar-grip-width: 4px; 
	--tablereact-scrollbar-grip-right: 1px; 
    --tablereact-scrollbar-button-display: none; 
    --tablereact-scrollbar-button-color: #666;
    --tablereact-scrollbar-button-hover-color: #555;
    --tablereact-scrollbar-button-active-color: #444;
    --tablereact-scrollbar-button-background-color: white;
    --tablereact-scrollbar-button-hover-background-color: rgb(209, 209, 209);
    --tablereact-scrollbar-button-active-background-color: #aaa;
}
body {
	height: 100vh;
	margin: 0px;
	padding: 0px;
	display: flex;
}

.is-sortable {
	background-color: yellow;
	transition: background-color 0.3s; 
}
.isSortable:hover {
	background-color: var(--tablereact-selected-background-hover-color);
}

.container {
	margin: 0px 55px;
}
table {
	width: 100%;
	box-sizing: border-box;
	outline-width: 0px;
	table-layout: fixed;
	border-spacing: 0px;
}

td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	user-select: none;
}

.img {
	width:16px;
}

.main {
	height: 100vh;
	display: flex;
	flex-direction: column;
}
.listcontainer {
	margin: 20px;
	position: relative;
	flex-grow: 1;
	overflow: hidden;

	border-color: gray;
	border-style: solid;
	border-width: 1px;
}
.list {
	position: absolute;
	height: 100%;
	width: 100%;        
}
