.column {
	overflow: hidden;
	white-space: nowrap;
	user-select: none;
	text-align: left;
	font-weight: normal;
	text-overflow: ellipsis;
	color: var(--tablereact-selected-color);
	background-color: var(--tablereact-selected-background-color);        
	border-left-color: var(--tablereact-columns-separator-color);
	border-left-style: solid;
	border-left-width: 1px;
}

.column:first-child {
	border-left-width: 0px;
}

.pointerEw {
	cursor: ew-resize;
}
.is-sortable {
	background-color: var(--tablereact-selected-background-color);
	transition: background-color 0.3s; 
}
.is-sortable:hover {
	background-color: var(--tablereact-selected-background-hover-color);
}
.subItem {
	display: flex;
	flex-direction: row;
}
.maincol {
	flex-grow: 1;
	padding-left: 5px;            
	overflow: hidden;    
}
.sort-ascending:before {
	position: relative;
	bottom: 11px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 6px solid var(--tablereact-selected-color);
	content: '';
	margin-right: 5px;
}
.sort-descending:before {
	position: relative;
	top: 10px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 6px solid var(--tablereact-selected-color);
	content: '';
	margin-right: 5px;
}
.colimg {
	width: 16px;
	height: 16px;
}
.scrollbar {
	background-color: var(--tablereact-scrollbar-background-color);
    transition: background-color 0.5s;
    flex-grow: 1;
    position: relative;	
}
.scrollbarContainer {
	position: absolute;
    height: 100%;
    width: var(--tablereact-scrollbar-width); 
    overflow: hidden;
    box-sizing: border-box;
    right: 0px;
    border-style: solid;
    border-color: var(--tablereact-scrollbar-border-color);
    border-width: var(--tablereact-scrollbar-border-width);
    user-select: none;
    display: flex;
    flex-direction: column;    
}

.svg {
    display: var(--tablereact-scrollbar-button-display);
    width: 100%;
    background-color: var(--tablereact-scrollbar-button-background-color);
    transition: background-color 0.3s;
}
.svg:hover {
    background-color: var(--tablereact-scrollbar-button-hover-background-color);
}
.svg:active {
    background-color: var(--tablereact-scrollbar-button-active-background-color);
    cursor: default;
}
.button {
    fill: var(--tablereact-scrollbar-button-color); 
}
.svg:hover .button {
    fill: var(--tablereact-scrollbar-button-hover-color); 
}
.svg:active .button {
    fill: var(--tablereact-scrollbar-button-active-color); 
}
.hidden {
    display: none;
}

.button {
	fill-opacity: 1; 
	stroke:none;
	fill: var(--tablereact-scrollbar-button-color); 
}

.grip {
	position: absolute;
    box-sizing: border-box;
    border-radius: var(--tablereact-scrollbar-grip-radius);
    background-color: var(--tablereact-scrollbar-grip-color);
    width: var(--tablereact-scrollbar-grip-width);
    right: var(--tablereact-scrollbar-grip-right);
    transition: background-color 0.5s, width 0.5s;
}
